<h1>FootBit</h1>

<style media="screen">
  body {background-color: white;}
  h1 {font-size: 100px;}
  h1 {text-align: center;}
  div.links {text-align: center;}
</style>


<div class="links ">

<%= link_to "Sign Up Here", signup_path %> |
<%= link_to "Log In Here", '/login' %> |
<%= link_to "Log In With Google", '/auth/google_oauth2' %>

</div>
